Options -Indexes

# Security: Bloack access to GLOBALS and \_REQUEST variables

Options +FollowSymLinks

RewriteEninge On
RewriteCond %{QUERY*STRING} (\<|%3C).\_script.*(\>|%3E) [NC, OR]
RewriteCond %{QUERY_STRING} ^GLOBALS(=|\[|\%[0-9A-F]{2}) [NC]
RewriteCond %{QUERY_STRING} ^_REQUEST(=|\[|\%[0-9A-F]{2}) [NC]
RewriteRule ^(.\*)$ index.php [F, L]

# Prevent Hot-linking
RewriteEngine On
# Replace website\.com with your site url
RewriteCond %{HTTP_REFERER} !^https?://(www\.)?yourwebsite\.com/ [NC]
RewriteCond %{HTTP_REFERER} !^$
# Replace image with your "stealing is bad" image URL
RewriteRule .*\.(jpg|jpeg|png|gif|webp|bmp)$ images/stealingisbad.gif [L]

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /wordpress_tutorial/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress_tutorial/index.php [L]
</IfModule>

<Files wp-config.php>
order allow, deny
deny from all
</Files>
<Files .htaccess>
order allow, deny
deny from all
</Files>
<Files install.php>
order allow, deny
deny from all
</Files>

# END WordPress